# Ignora arquivos de configuração do ambiente
.env


# Ignora arquivos temporários/sistema
*.log
*.cache
*.tmp
*.swp

# Ignora IDEs/editor configs
.vscode/
.idea/
.cursor/
*.sublime-project
*.sublime-workspace

# Ignora arquivos de sistema
.DS_Store
Thumbs.db