# Ignora arquivos de configuração do ambiente
.env


# Ignora arquivos temporários/sistema
*.log
*.cache
*.tmp
*.swp

# Ignora IDEs/editor configs
.vscode/
.idea/
.cursor/
.cursorignore
*.sublime-project
*.sublime-workspace

# Ignora arquivos de sistema
.DS_Store
Thumbs.db

# SpecStory
.specstory/.what-is-this.md
.specstory/
.progress/
