/* CONTAINERS & GRID */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.main-content {
  flex: 1;
}

.grid {
  display: grid;
  gap: 2.4rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* RESPONSIVE GRID */
@media (max-width: 992px) {
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
}
